

/* ------------------ reset ------------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}




/* ---------------- typography ---------------- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}



/* ----------------- Layout ------------------*/

.container {
  display: flex;
}


/*------------------ Main Page -------------------*/

.main-page {
  padding-top: 10%;
  flex-direction: column;
  align-items: center;
}


 /* ---------------- Search Bar ----------------*/
.form {
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;

}

.search-bar {
  width: 40%;
  height: 40px;
  display: inline-block;
  font-size: 20px;
}

.search-btn {
  height: 40px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  background-color:#1898c2;
  color: #fff;
}


/* ---------------- List -----------------------*/
 .result-list {
   flex-direction: column;
   align-items: center;
   padding: 20px;
   width: 100%;
 }

 .result-heading{
   display: flex;
   width: 100%;
   justify-content: center;
 }

 .result-heading p {
   width: 10%;
 }



 /* ---------------- Card ----------------------*/

 .card{
   width: 100%;
   justify-content: center;
 }

 .card .album-thumbnail {
  width: 50px;
  height: 50px;
 }

 .card p {
   width: 10%;
   margin-right: 5px;
 }




 /* ------------------- Music Player -------------------*/

 .player-main{
   flex-direction: column;
   align-items: center;
   padding-top: 40px;
 }

 .music-player {
   flex-direction: column;
   width: 100%;
   align-items: center;
   padding-top: 40px;
 }

 .music-player p {
   text-align: center;
 }

 .music-player img {
   width: 100px;
   height: 100px;
 }

 .player-controls {
   width: 60%;
   justify-content: space-between;
 }

 .share-btn {
  cursor: pointer;
 }

 .change-controlers {
   display: flex;
   margin-bottom: 20px;
 }